html {
    background: #A9A9A9;
}

body {
    background: orange;
    padding: 1rem;
    height: 200vh;
}

header {
    background: yellow;
    padding: 1rem;
    display: flex;
}

header > nav {
    background: blue;
    text-decoration: none;
    flex-grow: 1;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
    display: flex;
    gap: 5rem;
    padding: 0 3rem;
    align-items: center;
    justify-content: center;
}

main {
    background: #32CD32;
    padding: 1rem;
    gap: 1rem;
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    size: 0;
}

#section1 {
    background: yellow;
    padding: 1rem;
    display: flex;
    flex-direction: row;
}

#section1 > p {
    background: #87CEFA;
    margin: 1rem;
}

#section1 > img {
    background: #87CEFA;
    margin: 1rem;
}

#section2 {
    background: yellow;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

#section2 > form {
    background: #DB7093;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.button1 {
    background: #1c308a;
    color: white;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin: 0 auto;
    display: block;
}

footer {
    background: pink;
}